<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>New Job</title>
  </head>
  <body>
    <div class="container">
        <div class="header">
            <h1>Hello {{user.first}}! Create a job!</h1>
            <a href="/logout">Logout</a>
        </div>

        <div class="content">
            <form action="/jobs/add_new" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="exampleFormControlInput1">Title:</label>
                  <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="House Cleaning">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description:</label>
                    <textarea class="form-control" name="desc" id="exampleFormControlTextarea1" rows="3" placeholder="Maintain cleanliness around home"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">location:</label>
                    <input type='text' class="form-control" name="location" id="exampleFormControlTextarea1" rows="3" placeholder="2784 Oakland Rd"></textarea>
                  </div>
                  <div class="radio">
                    <label>Category:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Pet Care" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                          Pet Care
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Electrical" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                          Electrical
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Garden" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                          Garden
                        </label>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Other:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ride Share">
                      </div>
                      <button class="btn btn-secondary"><a href="/jobs/home">Cancel</a></button>
                      <button type="submit" class="btn btn-primary">Submit</button>
                      {% if messages %}
                        <ul>
                        {% for message in messages %}
                        {% if 'info' in message.tags %}    
                        <li>{{ message }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
              </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>